body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

.label {
	font-weight: bold;
	margin-right: 20px;
	padding-right: 20px;
}

.image img {
	 width: 50%;
	 height: auto;
}

#flexbox {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 0;
}

section li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 0;
}

section div {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	display: inline-block;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
}

#table {
	border-spacing: 0;
	width: 95%;
	align: center;
	margin: 0 auto;
}

#table-star {
	background-color: #D3D3D3;
}

#table-star img {
	height: 25px;
 	width: auto;
}

.tile {
	display: inline-block;
	background-color: #CCFFCC;
	position: relative;
	margin: 10px;
	height: 350px;
}

.tile-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#tile-star {
	position: absolute;
	bottom: 5px;
	left: 5px;"
}

#tile-star img {
	height: 25px;
 	width: auto;
}

.bold {
	font-weight: bold;
	font-size: larger;
	text-align: left;
	margin-left: 20px;
}

.ingredients {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.gray {
	background-color: #D3D3D3;
}